@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&family=Merriweather:wght@400;700&display=swap');

*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
}
html, body {
height: 100%;
font-family: 'Baloo 2', serif;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
 h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
font-family: 'Merriweather', serif;
}

@media (min-width: 700px){
body{
   width: 600px;
   margin: 0 auto;
}
}